<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">Open your account today!</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      New customers enjoy a free $100 credit when opening a qualifying account.
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
        Open an Account <i class="mx-2 bi bi-arrow-right-circle"></i>
      </button>
      <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
        Log in
      </button>
    </div>
  </div>
</div>