<div class="container">
  <h1>Banking</h1>
  <div class="row">
    <div class="col-8">
      <ul class="accounts-list">
        <li class="accounts-item" *ngFor="let account of userData.accounts">
          <h2>{{account.balance | currency:'USD':'symbol':'1.2-2'}}</h2>
          <p>Checking Account: {{ account.accountNum }}</p>
          <p [ngStyle]="{'color': (account.status) ? '#198754' : '#dc3545'}">{{ account.status ? 'ACTIVE' : 'INACTIVE'
            }}
          </p>
        </li>
      </ul>

    </div>
    <div class="col-4">
      <p>deposit</p>
      <p>withdraw</p>
      <p>transfer</p>
    </div>
  </div>
  <div class="row">
    <h2>Transactions</h2>
    <table class="table" *ngFor="let account of userData.accounts">
      <thead>
        <tr>
          <th scope="col">Transaction Number</th>
          <th scope="col">Vendor</th>
          <th scope="col">Amount</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of account.transactions">
          <th scope="row">#{{transaction.transactionNum}}</th>
          <td>{{transaction.category}}</td>
          <td [ngStyle]="{'color': (transaction.credit) ? '#198754' : '#dc3545'}">{{ transaction.credit ? '+' :
            '-'}}${{transaction.amount}}</td>
          <td [ngStyle]="{'color': (transaction.status) ? '#198754' : '#dc3545'}">{{transaction.status ? 'Posted' :
            'Pending'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>