<div class="container">

  <h1>Banking</h1>
  <div class="row">
    <div class="col-8">
      <ul class="accounts-list">
        <li class="accounts-item" *ngFor="let account of userData.accounts">
          <h2>{{account.balance | currency:'USD':'symbol':'1.2-2'}}</h2>
          <p>Checking Account: {{ account.accountNum }}</p>
          <p [ngStyle]="{'color': (account.status) ? '#198754' : '#dc3545'}">{{ account.status ? 'ACTIVE' : 'INACTIVE'
            }}
          </p>
        </li>
      </ul>



      <h2>Transactions</h2>
      <ul>
        {{ userData.accounts?.transactions | json}}
        <!-- <li *ngFor="let transaction of userData.accounts.transactions"></li> -->
      </ul>
    </div>
    <div class="col-4">
      <p>deposit</p>
      <p>withdraw</p>
      <p>transfer</p>
    </div>
  </div>
</div>